{% extends "base.html"%}

{% block title %} sistemas de pruebas {%endblock  %}

{% block script %}
    <script>
        $(document).ready(function()
        {
           $("#mostrarmodal").modal("show");
        });
     </script>

{% endblock %}


{% block content%}
    {% if message %}
        <div class="modal fade bd-example-modal-sm" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content confimacion">
                    <div class="modal-header">
                       
                    </div>
                    <div class="modal-body ">
                            {{message}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                        
                    </div>
                </div>
            </div>
        </div>
      
    {% else %}

    {% endif %}
    <section id="slider">
        <div data-velocity="-.2" class="overlay-bg slide-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="slide-text-wrapper">
                        <div class="slide-text text-center">
                            <h1 class="typewrite" data-period="2000" data-type='[ "{{ message }}", "Y CONTINUA LAS INTRUCCIONES", "Y SUERTE" ]'>
                                <span class="wrap"></span>
                            </h1> 
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- End slider -->
{% endblock %}
