

    
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <h1><a href="">Starter</a></h1>
                        
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>                         
                    </div>
                </div>
                
                <div class="col-md-9">
                         

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right text-uppercase">
                            <li class="current"><a href="#slider">home</a></li>
                            <li><a href="#about">about</a></li>
                            <li><a href="#services">our services</a></li>
                            <li><a href="#our-clients">our clients</a></li>
                            <li><a href="#testimonial">testimonials</a></li>
                            
                            <li><a href="#contact-us">contact us</a></li>
                        </ul>
                    </div>                    
                </div>
            </div>
        </div>
    </header> <!-- End header -->
    
    <section id="slider">
       
        <div data-velocity="-.2" class="overlay-bg slide-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="slide-text-wrapper">
                    <div class="slide-text text-center">
                        <h1 class="typewrite" data-period="2000" data-type='[ "Hello, I am Starter.", "I am Minimalist.", "I am creative.", "I am ready for your next project" ]'>
                            <span class="wrap"></span>
                        </h1>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni iste illum fugit perferendis adipisci id, est quis harum in dolore enim optio! Unde, perspiciatis officiis. Beatae fugit commodi repudiandae placeat.</p>   
                        
                        <a href="" class="learn-more">Learn More</a>                     
                    </div>
                    
                    <div class="scroll-to-bottom">
                        <a href="#about"><i class="fa fa-angle-down"></i></a>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </section> <!-- End slider -->
    
    
    <section id="about" class="section-padding text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="page-title">
                        <h2>About us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel explicabo excepturi optio corporis iste ad sunt. Fuga itaque doloremque, ex deserunt soluta eveniet magnam illo perferendis numquam, odit rerum optio, tenetur officiis dolor! Quis nihil adipisci labore ipsam provident, porro!</p>
                        
                        <div class="branding-photo">
                            <img src="img/device-1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-about">
                        <div class="about-icon">
                            <i class="fa fa-user"></i>
                        </div>
                        
                        <h2>Minimalist design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius labore itaque, nam eaque aut repellat ratione nesciunt explicabo numquam sit.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-about">
                        <div class="about-icon">
                            <i class="fa fa-home"></i>
                        </div>
                        
                        <h2>Bootstrap grid</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius labore itaque, nam eaque aut repellat ratione nesciunt explicabo numquam sit.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-about">
                        <div class="about-icon">
                            <i class="fa fa-star"></i>
                        </div>
                        
                        <h2>Responsive layout</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius labore itaque, nam eaque aut repellat ratione nesciunt explicabo numquam sit.</p>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- End about -->
    
    
    <section id="call-to-action" class="section-padding">
        <div data-velocity="-.3" class="overlay-bg cta-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="cta-text text-center">
                        <h2>This can be your call to action title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis qui obcaecati sit cumque suscipit necessitatibus accusamus numquam officia dolor quos quaerat quidem saepe perferendis, eum autem deserunt totam error recusandae.</p>
                        <a href="" class="learn-more">Learn More</a> 
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- End call to action -->
    
    <section id="services" class="section-padding">
        <div class="container">
           
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="page-title text-center">
                        <h2>Our services</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel explicabo excepturi optio corporis iste ad sunt. Fuga itaque doloremque, ex deserunt soluta eveniet magnam illo perferendis numquam, odit rerum optio, tenetur officiis dolor! Quis nihil adipisci labore ipsam provident, porro!</p>
                    </div>
                </div>
            </div>
                       
            <div class="row">
                <div class="col-md-4">
                    <div class="single-service">
                        <i class="fa fa-globe"></i>
                        <h2>Website design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad dolorem odio tempora, iste cum ex aspernatur numquam quo deserunt fugit assumenda, eligendi pariatur qui</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-service">
                        <i class="fa fa-paint-brush"></i>
                        <h2>Graphics design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad dolorem odio tempora, iste cum ex aspernatur numquam quo deserunt fugit assumenda, eligendi pariatur qui</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-service">
                        <i class="fa fa-rocket"></i>
                        <h2>Online marketing</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad dolorem odio tempora, iste cum ex aspernatur numquam quo deserunt fugit assumenda, eligendi pariatur qui</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-service">
                        <i class="fa fa-print"></i>
                        <h2>Print design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad dolorem odio tempora, iste cum ex aspernatur numquam quo deserunt fugit assumenda, eligendi pariatur qui</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-service">
                        <i class="fa fa-search"></i>
                        <h2>SEO Services</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad dolorem odio tempora, iste cum ex aspernatur numquam quo deserunt fugit assumenda, eligendi pariatur qui</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-service">
                        <i class="fa fa-line-chart"></i>
                        <h2>Monthly reporting</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad dolorem odio tempora, iste cum ex aspernatur numquam quo deserunt fugit assumenda, eligendi pariatur qui</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-service">
                        <i class="fa fa-edit"></i>
                        <h2>Copyright making</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad dolorem odio tempora, iste cum ex aspernatur numquam quo deserunt fugit assumenda, eligendi pariatur qui</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-service">
                        <i class="fa fa-pencil"></i>
                        <h2>Article writing</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad dolorem odio tempora, iste cum ex aspernatur numquam quo deserunt fugit assumenda, eligendi pariatur qui</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-service">
                        <i class="fa fa-mobile"></i>
                        <h2>Apps development</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad dolorem odio tempora, iste cum ex aspernatur numquam quo deserunt fugit assumenda, eligendi pariatur qui</p>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- End services -->
    
    
    <section id="call-to-action-2" class="section-padding">
        <div data-velocity="-.3" class="overlay-bg cta-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="cta-text text-center">
                        <h2>This can be your call to action title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis qui obcaecati sit cumque suscipit necessitatibus accusamus numquam officia dolor quos quaerat quidem saepe perferendis, eum autem deserunt totam error recusandae.</p>
                        <a href="" class="learn-more">Learn More</a> 
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- End call to action -->
    
    

    
    <section id="our-clients" class="section-padding">
        <div class="container">
           
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="page-title text-center">
                        <h2>Our clients</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel explicabo excepturi optio corporis iste ad sunt. Fuga itaque doloremque, ex deserunt soluta eveniet magnam illo perferendis numquam, odit rerum optio, tenetur officiis dolor! Quis nihil adipisci labore ipsam provident, porro!</p>
                    </div>
                </div>
            </div>
                       
            <div class="row">
                <div class="col-md-12">
                    <div class="client-list">
                        <div class="single-client">
                            <img src="img/services_logo__1.jpg" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/services_logo__2.jpg" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/services_logo__3.jpg" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/services_logo__4.jpg" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/services_logo__1.jpg" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/services_logo__2.jpg" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/services_logo__3.jpg" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/services_logo__4.jpg" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/services_logo__1.jpg" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/services_logo__2.jpg" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/services_logo__3.jpg" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/services_logo__4.jpg" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/services_logo__1.jpg" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/services_logo__2.jpg" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/services_logo__3.jpg" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/services_logo__4.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- End our clients -->
    
    <div id="testimonial" class="section-padding">
        <div data-velocity="-.3" class="overlay-bg testimonial-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="testimonial-list" class="carousel slide text-center" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="single-testimonial">
                                    <img class="author-photo" src="img/avater.jpg" alt="">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nisi, esse sit voluptates. Commodi porro dolore consequuntur quod esse quidem minus, obcaecati neque numquam eum dolor, quam eaque fugit in.</p>
                                    <p class="author-name">Jhon Doe, <span>CEO, WP Expand</span></p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="single-testimonial">
                                    <img class="author-photo" src="img/avater.jpg" alt="">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nisi, esse sit voluptates. Commodi porro dolore consequuntur quod esse quidem minus, obcaecati neque numquam eum dolor, quam eaque fugit in.</p>
                                    <p class="author-name">Michael Johonson, <span>CEO, Perfect Point Marketing</span></p>
                                </div>
                            </div>
                        </div>

                        <a class="left tc-control" href="#testimonial-list" role="button" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right tc-control" href="#testimonial-list" role="button" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                        </a>
                    </div>                    
                </div>
            </div>
        </div>
    </div>    <!-- End testimonials -->
    
    
    <section id="contact-us" class="section-padding">
        
        <div class="container">
           
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="page-title text-center">
                        <h2>Contact us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel explicabo excepturi optio corporis iste ad sunt. Fuga itaque doloremque, ex deserunt soluta eveniet magnam illo perferendis numquam, odit rerum optio, tenetur officiis dolor! Quis nihil adipisci labore ipsam provident, porro!</p>
                    </div>
                </div>
            </div>
            
                                  
            <div class="row">
                <div class="col-md-6">
                    <div id="googleMap" style="width:100%;height:380px;"></div>            
                </div>
                <div class="col-md-6">
                    <div class="form-content">
                        <h2>Get in touch</h2>
                        <form id="contact" name="contact" method="post">  
                            <fieldset class="clean">
                                <input placeholder="Your name" type="text" name="name" id="name" size="30" value="" required/>
                            </fieldset>
                            <fieldset class="clean">
                                <input placeholder="Your email address" type="text" name="email" id="email" size="30" value="" required/>
                            </fieldset>
                            <fieldset class="clean">
                                <textarea placeholder="Your message" name="message" id="message" required></textarea>
                            </fieldset>
                            <fieldset class="clean">
                                <input placeholder="Name the small house pet that says: 'meow'" type="text" name="answer" value="" required/> 
                            </fieldset>
                            <fieldset>
                                <input id="submit" type="submit" name="submit" value="Send message" />  
                            </fieldset>
                        </form>	
                    </div>                     
                </div>
            </div>
        </div>
    </section> <!-- End contact us -->
    
    <section class="footer-top section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-top-content">
                        <img src="img/churi.jpg" class="alignright" alt="">
                        <h2>Another more information can be here, This can be long!</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error fugiat, animi asperiores impedit officia ut ea culpa nesciunt vel, non praesentium laboriosam cum perspiciatis, hic molestiae quisquam atque rerum minus!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quos, saepe eum esse odit expedita ut, officiis qui vero quasi maxime. Voluptatum esse maiores consequatur dolorem, similique in ipsa libero ex odio eum sit quia ad quidem voluptas quos distinctio animi hic quo veniam assumenda, non fugiat. Quibusdam, suscipit similique!</p>
                        <a href="" class="learn-more">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- end footer top -->
    
    
    
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="footer-copyright">
                        <p>&copy; Starter 2015, All Right Reserved. Designed with <i class="fa fa-heart"></i> by <a href="http://wpexpand.com" target="_blank">WP Expand</a></p> <!-- Please do not remove credit link -->
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="footer-social text-right">
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-youtube"></i></a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer> <!-- End footer top -->
    