{% extends "base.html"%}

{% block title %} sistemas de pruebas {%endblock  %}
{% block content%}
    <section id="slider">
        <div data-velocity="-.2" class="overlay-bg slide-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="slide-text-wrapper">
                        <div class="slide-text text-center">
                            <h1 class="typewrite" data-period="2000" data-type='[ "BIENVENIDO PARTICIPANTE", "HAS TU REGISTRO FACIL", "Y CONTINUA LAS INTRUCCIONES", "Y SUERTE" ]'>
                                <span class="wrap"></span>
                            </h1> 
                            <a href="{% url 'registro' %}" class="learn-more">registrarse</a>                     
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- End slider -->
{% endblock %}
