{% extends "base.html"%}

{% block title %} Recuperar contraseña{% endblock  %}

{% block content%}
    <section id="contact-us" class="section-padding" style="margin-top:100px;">
        <div class="container">   
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="page-title text-center">
                        <h2>Recuperar contraseña</h2>
                    </div>
                </div>
            </div>                                 
            <div class="row">
                <div class="col-md-6">
                    <div class="form-content">
                        <h2>Registro:</h2>
                        <form id="contact" name="contact" method="post">
                            {% csrf_token %}
                            <label for="id_email">correo</label>
                            {{form.email}}
                            <fieldset>
                                <input id="submit" type="submit" name="submit" value="enviar" />  
                            </fieldset>
                        </form>	
                    </div>                     
                </div>
            </div>
        </div>
    </section> <!-- End contact us -->
    
{% endblock %}