{% extends "base.html"%}

{% block title %} Recuperar contraseña{% endblock  %}

{% block content%}
    <section id="contact-us" class="section-padding" style="margin-top:100px;">
        <div class="container">   
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="page-title text-center">
                        <h2> Su contraseña se reestrablecio correctamente</h2>
                    </div>
                    <p class="text-center"><a href="{% url 'bienvenido' %} "> iniciar sesion</a> </p>
                </div>
            </div>                                 
        </div>
    </section> <!-- End contact us -->
    
{% endblock %}