{% extends "base.html"%}

{% block title %} Recuperar contraseña{% endblock  %}
{}
{% block content%}
    <section id="contact-us" class="section-padding" style="margin-top:100px;">
        <div class="container"> 
            {% if validlink  %}
            
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="page-title text-center">
                            <h2>Nueva contraseña</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-content">
                            <form id="contact" name="contact" method="post">
                                {% csrf_token %}
                                <fieldset>
                                        {{ form.as_p }}
                                </fieldset>
                                <br>
                                
                                <fieldset>
                                    <input id="submit" type="submit" name="submit" value="cambiar contraseña" />  
                                </fieldset>
                            </form>	
                        </div>                     
                    </div>
                </div>
            
            {% else %}
            
                <h2 class="tex-center"> ENLACE INVALIDO: ESTA ENLACE YA SE HA UTILIZADO</h2>
            
            {% endif %} 
            
        </div>
    </section> <!-- End contact us -->
    
{% endblock %}