{% extends "base.html"%}

{% block title %} cargar categoria {%endblock  %}
{% block content%}
<section id="about" class="section-padding text-center" style="margin-top:80px">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="page-title">
                    <h2>CATEGORIAS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="single-about">
                    <div class="about-icon">
                        <i class="fa fa-home"></i>
                    </div>      
                    <h2>Nueva categoria</h2>
                    <p> este moddulo permite cargar una nueva categoria </p>
                    <li><a href="{% url 'nueva_categoria' %}">crear</a></li>
                </div>
            </div>
            {% for categoria in object_list %}
                <div class="col-md-4 col-sm-4">
                    <div class="single-about">
                        <div class="about-icon">
                            <i class="fa fa-home"></i>
                        </div> 
                        <h2>{{ categoria.nombre_categoria }}</h2>
                        <p>{{ categoria.descripcion_categoria }}</p>
                        <div>
                            <div class="col-md-6 col-sm-6">
                                <a href="{% url 'editar_categoria' pk=categoria.id_categoria %}">editar</a>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <a href="{% url 'eliminar_categoria' pk=categoria.id_categoria %}">eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <li>no hay categoria por favor registre alguna categoria primero:
                    <br>
                    <a href="{% url 'categoria'%}"> categoria</a>
                </li>
            {% endfor %}
        </div>
    </div>
</section> <!-- End about -->

{% endblock %}