{% extends "base.html"%}

{% block title %} eliminar categoria {% endblock %}
{% block content%}
<section id="contact-us" class="section-padding" style="margin-top:80px">
    <div class="container">   
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="page-title text-center">
                    <h2>eliminar categoria</h2>
                    <p></p>
                </div>
            </div>
        </div>                                 
        <div class="row">
            <div class="col-md-6">
                <div class="form-content">
                    <h2>Registro:</h2>
                    <form id="contact" name="contact" method="post">
                        {% csrf_token %}
                        <h3>¿desea eliminar la categoria {{Categoria.nombre_categoria }} ?</h3>
                        <fieldset>
                            <input id="submit" type="submit" name="submit" value="elimnar" />  
                      
                            <a href="{% url 'categorias' %}">
                                 cancelar
                            </a> 

                        </fieldset>
                    </form>	
                </div>                     
            </div>
        </div>
    </div>
</section> <!-- End contact us -->

{% endblock %}