{% extends "base.html"%}

{% block title %} eliminar categoria {% endblock %}
{% block script %}
    <script>
        $(document).ready(function()
        {
           $("#mostrarmodal").modal("show");
        });
     </script>

{% endblock %}
{% block content%}
    {% if message %}
        <div class="modal fade bd-example-modal-sm" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    {{message}}
                </div>
            </div>
        </div>
    {% else %}

    {% endif %}
    <section id="contact-us" class="section-padding" style="margin-top:80px">
        <div class="container">   
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="page-title text-center">
                        <h2>eliminar categoria</h2>
                        <p></p>
                    </div>
                </div>
            </div>                                 
            <div class="row">
                <div class="col-md-6">
                    <div class="form-content">
                        <h2>Registro:</h2>
                        <form id="contact" name="contact" method="post">
                            {% csrf_token %}
                            <h3>¿desea eliminar la categoria 
                                {% for cate in Categoria %}
                                {{cate.nombre_categoria}}
                            {% endfor %} ?</h3>
                            <fieldset>
                                <input id="submit" type="submit" name="submit" value="elimnar" />  
                        
                                <a href="{% url 'categorias' %}">
                                    cancelar
                                </a> 
                            </fieldset>
                        </form>	
                    </div>                     
                </div>
            </div>
        </div>  
    </section> <!-- End contact us -->

{% endblock %}