<section id="services" class="section-padding">
    <div class="container">
       
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="page-title text-center">
                    <h2>Our services</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel explicabo excepturi optio corporis iste ad sunt. Fuga itaque doloremque, ex deserunt soluta eveniet magnam illo perferendis numquam, odit rerum optio, tenetur officiis dolor! Quis nihil adipisci labore ipsam provident, porro!</p>
                </div>
            </div>
        </div>
                   
        <div class="row">
            <div class="col-md-4">
                <div class="single-service">
                    <i class="fa fa-globe"></i>
                    <h2>Website design</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad dolorem odio tempora, iste cum ex aspernatur numquam quo deserunt fugit assumenda, eligendi pariatur qui</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service">
                    <i class="fa fa-paint-brush"></i>
                    <h2>Graphics design</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad dolorem odio tempora, iste cum ex aspernatur numquam quo deserunt fugit assumenda, eligendi pariatur qui</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service">
                    <i class="fa fa-rocket"></i>
                    <h2>Online marketing</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad dolorem odio tempora, iste cum ex aspernatur numquam quo deserunt fugit assumenda, eligendi pariatur qui</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service">
                    <i class="fa fa-print"></i>
                    <h2>Print design</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad dolorem odio tempora, iste cum ex aspernatur numquam quo deserunt fugit assumenda, eligendi pariatur qui</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service">
                    <i class="fa fa-search"></i>
                    <h2>SEO Services</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad dolorem odio tempora, iste cum ex aspernatur numquam quo deserunt fugit assumenda, eligendi pariatur qui</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service">
                    <i class="fa fa-line-chart"></i>
                    <h2>Monthly reporting</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad dolorem odio tempora, iste cum ex aspernatur numquam quo deserunt fugit assumenda, eligendi pariatur qui</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service">
                    <i class="fa fa-edit"></i>
                    <h2>Copyright making</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad dolorem odio tempora, iste cum ex aspernatur numquam quo deserunt fugit assumenda, eligendi pariatur qui</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service">
                    <i class="fa fa-pencil"></i>
                    <h2>Article writing</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad dolorem odio tempora, iste cum ex aspernatur numquam quo deserunt fugit assumenda, eligendi pariatur qui</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service">
                    <i class="fa fa-mobile"></i>
                    <h2>Apps development</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad dolorem odio tempora, iste cum ex aspernatur numquam quo deserunt fugit assumenda, eligendi pariatur qui</p>
                </div>
            </div>
        </div>
    </div>
</section> <!-- End services -->