{% extends "base.html"%}

{% block title %} categoria {%endblock  %}
{% block script%}{%endblock%}
{% block content%}
<section id="about" class="section-padding text-center" style="margin-top:80px">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="page-title">
                    <h2>CATEGORIAS</h2>
                    <div class="branding-photo">
                        <img class="logo_categoria" src="/static/img/device-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="single-about">
                    <div class="about-icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <h2>Cargar Categoria</h2>
                    <p> este moddulo permite cargar una nueva categoria o subcategoría</p>
                    <li><a href="{% url 'categorias' %}">Cargar</a></li>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-about">
                    <div class="about-icon">
                        <i class="fa fa-home"></i>
                    </div>      
                    <h2>Cargar Preguntas</h2>
                    <p> este moddulo permite es para cragar una nueva pregunta</p>
                    <li><a href="{% url 'preguntas' %}">Cargar</a></li>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-about">
                    <div class="about-icon">
                        <i class="fa fa-star"></i>
                    </div>
                    <h2>Crear Pruebas</h2>
                    <p> este moddulo permite crear una prueba a algun participante</p>                    
                    <li><a href="{% url 'pruebas'%}">Cargar</a></li>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-about">
                    <div class="about-icon">
                        <i class="fa fa-star"></i>
                    </div>
                    <h2>asignar Pruebas</h2>
                    <p> este moddulo permite crear una prueba a algun participante</p>                    
                    <li><a href="{% url 'asignar_prueba'%}">Cargar</a></li>
                </div>
            </div>
        </div>
    </div>
</section> <!-- End about -->

{% endblock%}
