{% extends "base.html"%}

{% block title %} resultado {%endblock  %}
{% block content%}
    <div id="testimonial" class="section-padding" style="margin-top:150px">
        <div data-velocity="-.3" class="overlay-bg testimonial-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>buscar resultado por Participante</h2>
                    <form name="form" action="{% url 'buscar' %}" method="post" >
                        {% csrf_token %}
                        <fieldset class="clean">
                            <label>
                                instrusca el numero de cedula del participante:
                            </label>
                            <input type="text" name="cedula" required>
                            <input type="button" value="buscar">
                        </fieldset>
                    </form>               
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <h2>buscar resultado por categoia</h2>
                    <form name="form" action="{% url 'buscar' %}" method="post" >
                        {% csrf_token %}
                        <fieldset class="clean">
                            <label>
                                instrusca el numero de cedula del participante:
                            </label>
                            <input type="text" name="cedula" required>
                            <input type="button" value="buscar">
                        </fieldset>
                    </form>               
                </div>
            </div>
        </div>
    </div>    <!-- End testimonials -->
{% endblock%}