{% extends "base.html"%}

{% block title %} requistrate {%endblock  %}
{% block content%}

    <section id="about" class="section-padding text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="page-title">
                        <h2>About us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel explicabo excepturi optio corporis iste ad sunt. Fuga itaque doloremque, ex deserunt soluta eveniet magnam illo perferendis numquam, odit rerum optio, tenetur officiis dolor! Quis nihil adipisci labore ipsam provident, porro!</p>
                        
                        <div class="branding-photo">
                            <img src="img/device-1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-about">
                        <div class="about-icon">
                            <i class="fa fa-user"></i>
                        </div>
                        
                        <h2>Minimalist design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius labore itaque, nam eaque aut repellat ratione nesciunt explicabo numquam sit.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-about">
                        <div class="about-icon">
                            <i class="fa fa-home"></i>
                        </div>
                        
                        <h2>Bootstrap grid</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius labore itaque, nam eaque aut repellat ratione nesciunt explicabo numquam sit.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-about">
                        <div class="about-icon">
                            <i class="fa fa-star"></i>
                        </div>
                        
                        <h2>Responsive layout</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius labore itaque, nam eaque aut repellat ratione nesciunt explicabo numquam sit.</p>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- End about -->

{% endblock%}