{% extends "base.html"%}

{% block title %} lista de preguntas {% endblock %}
{% block content %}

    <section id="services" class="section-padding" style="margin-top:80px">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="page-title text-center">
                        <h2>Preguntas</h2>
                    </div>
                </div>
            </div> 
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>
                                Lista de preguntas
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pregunta in preguntas%}
                        <tr>
                            <td>
                                {{pregunta.nombre_pregunta}}
                            </td>
                            <td>
                                <a href="{% url 'buscar_repuesta' pk=pregunta.id_pregunta %}">ver respuesta</a> 
                            </td>
                            <td>
                                <a href="{% url 'editar_pregunta' pk=pregunta.id_pregunta %}">editar</a>
                            </td>
                            <td>
                                <a href="{% url 'eliminar_pregunta' pk=pregunta.id_pregunta %}">eliminar</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="center">
                                no hay preguntas
                                <a href="{% url 'preguntas' %}">volver</a>
                            </td>
                        </tr>    
                        {% endfor %}
                        <tr>
                            <td>
                                cargar nueva pregunta {{pk}} {{dificultad}}
                                <a href="{% url 'registrar_pregunta' pk=pk tipo=dificultad %}">+</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>        
        </div>
    </section>
{% endblock %}