{% extends "base.html"%}

{% block title %} asignar de pruebas {% endblock %}

{% block content %}

    <section id="contact-us" class="section-padding" style="margin-top:80px">
        <div class="container">   
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="page-title text-center">
                        <h2>Modulo de Pruebas</h2>
                        <p></p>
                    </div>
                </div>
            </div>                                 
            <div class="row">
                <div class="col-md-6">
                    <div class="form-content">
                        <h2>Asignar Prueba:</h2>
                        <form id="contact" name="contact" method="post">
                            {% csrf_token %}
                            
                            <fieldset>
                                <label for="">selecione usuario:</label>  
                                <select name="usuarios" id="" required>
                                    {% for usuarios in lista_usuarios %}
                                        <option value="{{usuarios.0}}">{{usuarios.1}}</option>
                                        
                                    
                                    {% empty %}
                                        no hay participantes
                                    {% endfor %}
                                </select>                           
                             
                            </fieldset>
                            <fieldset>
                                <label for="">selecione la prueba:</label> 
                                <select name="prueba" id="" required>
                                    {% for prueba in  lista_pruebas%}
                                            <option value="{{prueba.0}}">{{prueba.1}}</option>
                                        {% empty %}
                                            no hay pruebas creadas
                                        {% endfor %}
                                </select>                           
                               
                            </fieldset>
                            <fieldset>
                                <input id="submit" type="submit" name="submit" value="guardar" />  
                            </fieldset>
                        </form>	
                    </div>                     
                </div>
            </div>
        </div>
    </section> <!-- End contact us -->

{% endblock %}