{% extends "base.html"%}

{% block title %} asignar de pruebas {% endblock %}

{% block content %}

    <section id="contact-us" class="section-padding" style="margin-top:80px">
        <div class="container">   
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="page-title text-center">
                        <h2>Modulo de Pruebas</h2>
                        <p></p>
                    </div>
                </div>
            </div>                                 
            <div class="row">
                <div class="col-md-6">
                    <div class="form-content">
                        <h2>Asignar Prueba:</h2>
                        <form id="contact" name="contact" method="post">
                            {% csrf_token %}
                            
                            <fieldset>
                                <label for="">selecione usuario:</label>                            
                                                              
                                {{form.id_admin}}                                                                
                                {{form.id_admin.errors}} 
                            </fieldset>
                            <fieldset>
                                <label for="">selecione la prueba:</label>                            
                                {{form.id_prueba}}                                                                
                                {{form.id_prueba.errors}}        
                            </fieldset>
                            <fieldset>
                                <input id="submit" type="submit" name="submit" value="guardar" />  
                            </fieldset>
                        </form>	
                    </div>                     
                </div>
            </div>
        </div>
    </section> <!-- End contact us -->

{% endblock %}