
{% extends "base.html"%}

{% block title %} crear prueba {%endblock  %}
{% block content%}
<section id="contact-us" class="section-padding" style="margin-top:80px">
    <div class="container">   
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="page-title text-center">
                    <h2>Modulo de Pruebas</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel explicabo excepturi optio corporis iste ad sunt. Fuga itaque doloremque, ex deserunt soluta eveniet magnam illo perferendis numquam, odit rerum optio, tenetur officiis dolor! Quis nihil adipisci labore ipsam provident, porro!</p>
                </div>
            </div>
        </div>                                 
        <div class="row">
            <div class="col-md-6">
                <div class="form-content">
                    <h2>crear prueba:</h2>
                    <form id="contact" name="contact" method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <label for="">preguntas:</label>
                            {% for pregunta in arreglo_preguntas %}
                            <table>
                                <tr>
                                    <td>
                                        <input class="" type="checkbox" value="{{pregunta.id_pregunta}}" name="preguntas" id="{{pregunta.id_pregunta}}">{{pregunta.nombre_pregunta}}
                                    </td> 
                                    <td>
                                        <label style="margin-left: 30px;" for="">
                                            valor de pregunta
                                        </label>
                                        <input type="number" name="arreglo" id="">
                                    </td>
                                </tr>
                            </table>

                            {% empty %}
                                no tiene preguntas creadas para esta categoria
                            {% endfor %}
                        <fieldset>
                            <input id="submit" type="submit" name="submit" value="guardar" />  
                        </fieldset>
                    </form>	
                </div>                     
            </div>
        </div>
    </div>
</section> <!-- End contact us -->

{% endblock %}
{% block script %}
    <script>
     
    </script>
{% endblock %}