{% extends "base.html"%}

{% block title %} lista de prueba {% endblock %}
{% block content %}

    <section id="services" class="section-padding" style="margin-top:80px">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="page-title text-center">
                        <h2>pruebas</h2>
                    </div>
                </div>
            </div> 
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>
                                Lista de pruebas
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pru in prueba %}
                        <tr>
                            <td>
                                {{pru.nombre_prueba}}
                            </td>
                            <td>
                                <a href="{% url 'buscar_preguntas' pk=pru.id_prueba %}">ver preguntas</a> 
                            </td>

                            <td>
                                <a href="{% url 'eliminar_pregunta' pk=1%}">eliminar</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="center">
                                no hay pruebas
                                <a href="{% url 'pruebas' %}">volver</a>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                cargar nueva pregunta {{id_categoria}} {{id_dificultad}}
                                <a href="{% url 'crear_prueba' pk=id_categoria tipo=id_dificultad %} ">+</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>        
        </div>
    </section>
{% endblock %}