{% extends "base.html"%}

{% block title %} listas de prueba {%endblock  %}
{% block content%}
    <div id="testimonial" class="section-padding" style="margin-top:150px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-2">
                    <div class="page-title">
                        <h2>Pruebas asignada</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for prue in pruebas %}
                <div class="col-md-4 col-sm-4">
                    <div class="item">
                        <div class="">
                            <a href="{% url 'ver_prueba' pk=prue.id_prueba_presona %}">
                                <img class="author-photo" src="{{STATIC_URL}}/static/img/avater.png" alt="">
                            </a>
                            <p>Tiene una prueba con de la unida de </p>
                            <p>Prueba numero: {{prue.id_prueba}} </p>
                            <p class="author-name">{{prue.id_participante}} <span>fecha tope de presentación </span></p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <li>no tiene prueba programada
                    <br>
                    <a href="{% url 'bienvenido' %}"> volver</a>
                </li>
                {% endfor %}
            </div>
        </div>
    </div>    <!-- End testimonials -->
{% endblock%}