{% extends "base.html"%}

{% block title %} lista de pregunta {% endblock %}
{% block content %}

    <section id="services" class="section-padding" style="margin-top:80px">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="page-title text-center">
                        <h2>pruebas</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="tablas"> 
                                Lista de preguntas
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pregunta in preguntas%}
                        <tr>
                            <td class="tablas">
                                {% for pre in pregunta %}
                                    {{pre}}
                                {% endfor %}
                            </td>
                        </tr>
                        {% empty %}
                            no hay preguntas
                            <a href="{% url 'pruebas' %}">volver</a>
                        {% endfor %}
                        <tr>
                            <tr>
                                <td class="tablas">
                                    <button >
                                        volver
                                    </button>
                                </td>
                            </tr>
                        </tr>
                    </tbody>
                </table>
            </div>  
        </div>
    </section>

{% endblock %}