{% extends "base.html"%}

{% block title %} preguntas {%endblock%}
{% block content%}

    <section id="services" class="section-padding" style="margin-top:80px">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="page-title text-center">
                        <h2>CATEGORIAS</h2>
                        <p>Eija la categoria para cargar la pregunta:</p>
                    </div>
                </div>
            </div>  
            <div class="row">
                {% for categoria in object_list %}
                    <div class="col-md-4">
                        <div class="single-service">
                            <div>
                                <a href="{% url 'registrar_pregunta'%}">
                                    <i class="fa fa-globe"></i>
                                </a>
                            </div> 
                            <h2>{{ categoria.nombre_categoria }}</h2>
                            <p>{{ categoria.descripcion_categoria }}</p>
                             <!-- 
                            <div>
                                <h3>elegia la dificultad:</h3>
                                
                                <div class="">
                                    <a href="{% url 'pregunta_avanzada' %}">avanzado</a>
                                </div>
                                <div class="">
                                    <a href="{% url 'pregunta_intermedio' %}">intermedio</a>
                                </div>
                                <div class="">
                                    <a href="{% url 'pregunta_basico' %}">basico</a>
                                </div>
                            </div>
                            -->
                        </div>
                       
                    </div>
                {% empty %}
                    <li>no hay categoria por favor registre alguna categoria primero:
                        <br>
                        <a href="{% url 'categoria'%}"> categoria</a>
                    </li>
                {%endfor %}
            </div>
        </div>
    </section> <!-- End services -->

{% endblock%}