<!-- Include the above in your HEAD tag -->

{% extends "base.html"%}

{% block title %} prenta la prueba {% endblock %}

{% block content %}
    <div class="container-fluid bg-info" style="margin-top:150px; margin-bottom:150px;">
        <form id="contact" method="post">
            {% csrf_token %}
            {% for condi in pruebs_presona %}
                <div class="form-content">
                    <label>
                        nombre participante:{{condi.id_participante}}
                    </label>
                    <div class="examen">
                        {% for prueba in arreglos_prueba %}
                            <div class="respuesta">
                                <h4 id="nombrePregunta"> 
                                    <span class="label label-warning" id="pregunta">
                                        {{prueba.0}}
                                    </span>
                                    {% for pregunta in prueba.1 %}
                                        {{pregunta.nombre_pregunta}}
                                    {% endfor %}
                                </h4>
                            </div>
                            <div class="respuesta" id="respuesta">
                                {% for respuesta in prueba.2 %}
                                <label>
                                    <input type="radio" name="{{prueba.0}}" value="{{respuesta.id_respuesta}}" class="respuesta">
                                    {{respuesta.nombre_respuesta}}
                                </label>
                                {% empty %}
                                
                                {% endfor %}
                            </div>
                            <BR></BR>
                        {% endfor %}    
                        <div class="text-muted">
                            <fieldset>
                                <input id="submit" type="submit" name="submit" value="finalizar" />  
                            </fieldset>
                        </div>
                    </div>
                </div>            
            {% endfor %}
        </form> 
    </div>
{%endblock%}