{% extends "base.html"%}

{% block title %} registro {% endblock  %}
{% block script %}  {% endblock  %}

{% block content%}
    <section id="contact-us" class="section-padding">
        <div class="container">   
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="page-title text-center">
                        <h2>Registro De Participante</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel explicabo excepturi optio corporis iste ad sunt. Fuga itaque doloremque, ex deserunt soluta eveniet magnam illo perferendis numquam, odit rerum optio, tenetur officiis dolor! Quis nihil adipisci labore ipsam provident, porro!</p>
                    </div>
                </div>
            </div>                                 
            <div class="row">
                <div class="col-md-6">
                    <div class="form-content">
                        <h2>Registro:</h2>
                        <form id="contact" name="contact" method="post">  
                            <fieldset class="clean">
                                <input placeholder="Nombres" type="text" name="name" id="nombres" size="30" value="" required/>
                            </fieldset>
                            <fieldset class="clean">
                                <input placeholder="Apellidos" type="text" name="name" id="apellido" size="30" value="" required/>
                            </fieldset>
                            <fieldset class="clean">
                                <input placeholder="cedula de identidad" type="text" name="name" id="cedula" size="30" value="" required/>
                            </fieldset> 
                            <fieldset class="clean">
                                <input placeholder="telefono" type="text" name="name" id="telefono" size="telefono" value="" required/>
                            </fieldset> 
                            <fieldset class="clean">
                                <input placeholder="correo electrónico" type="text" name="name" id="correo" size="30" value="" required/>
                            </fieldset>
                            <fieldset class="clean">
                                <input placeholder="confirme correo electrónico" type="text" name="name" id="re_correo" size="30" value="" required/>
                            </fieldset>
                   
                            <fieldset>
                                <input id="submit" type="submit" name="submit" value="Send message" />  
                            </fieldset>
                        </form>	
                    </div>                     
                </div>
            </div>
        </div>
    </section> <!-- End contact us -->
    
{% endblock %}


